.pageTitle {
  color: #363636;
  margin: 0 0 25px;
  font-size: 30px;
}

.productDetail {
  display: flex;
  margin-bottom: 40px;
}

.productImg {
  max-width: 400px;
}

.productInfo {
  padding: 0 20px;
}

.productPrice {
  font-weight: bold;
  font-size: 28px;
  color: #59595a;
}

.btn {
  display: block;
    width: 100%;
    border: none;
    padding: 8px 40px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.btnOrder {
  margin: 25px 0;
  color: #fff;
  background: #cc2157;
}

.btnCart {
  color: #59595a;
  background: #eaeaea;
}

.productDescription {
  color: #59595a;
}